h1{
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
header{
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    padding: 20px;
    color: grey;
    font-family:'Papyrus',cursive;

}
.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.plant-card {
    background-color: rgb(0, 0, 0);
    border: 1px solid #37b214;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.plant-card:hover {
    transform: scale(1.02);
}

.plant-card img {
    width: 150px;
    height: 150px;
    border-radius: 1px;
}
